body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0);
}
.logo {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
}
.logo span {
    font-weight: normal;
    font-size: 14px;
    color: gray;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}
nav ul li a {
    color: black;
    font-size: 14px;
}
#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0);
}
.hero-text h1 {
    font-size: 48px; 
}
.hero-container {
    display: flex;
    align-items: center;
    max-width: 800px;
}
.profile-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right: 30px;
}
.hero-text {
    flex: 1;
    text-align: left;
}
.hero-buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.hero-buttons button {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 1px solid rgba(175, 175, 175, 0.733);
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}
.resume-btn { background-color: gold; }
.projects-btn { background-color: red; }
.contact-btn { background-color: lightblue; }
footer {
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    margin-top: 50px;
    text-align: center;
}
.footer-line {
    width: 100%;
    height: 1px;
    background-color: gray;
    margin: 40px 0;
}
.footer-container {
    
    display: flex;
    justify-content: space-between;
    
}
.footer-container div {
    text-align:flex;
    font-size: 12px;
}
